@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body {
 background-color: whitesmoke;
}
.page-title {
 background-color: black;
 color: white;
}
.about-header {
 background-color: white;
 padding-top: 30px;
}
.team-logo img {
 width: 150px;
}
.title {
 color: red;
}
.about-body {

}
.about-footer {
 background-color: black;
 text-align: center;
 color: white;
 margin-top: 350px;
}

